@mixin ui-display-none {
  display: none;
}

@mixin ui-display-flex {
  display: flex;
}

@mixin ui-display-block {
  display: block;
}

@mixin ui-display-inline-flex {
  display: inline-flex;
}

@mixin ui-display-inline-block {
  display: inline-block;
}
