# GitHub
.github/

# Ansible
ansible/

# Nginx
nginx/

# Builds
packages/**/dist/
packages/**/.next/

# Node modules
node_modules/

packages/**/node_modules/

# Coverage
packages/**/coverage/

# Env
.env.*
packages/**/.env.*

# Git
.git
.gitignore
packages/**/.gitignore

# Docker
dockerfile*
docker-compose*
.dockerignore*

packages/**/dockerfile*
packages/**/docker-compose*
packages/**/.dockerignore*

# Configs
.editorconfig
wallaby.js
jest.config.js
README.md