.github/

nginx/

node_modules/

packages/**/node_modules/
packages/**/dist/
packages/**/coverage/
packages/**/.next/

.env.*
packages/**/.env.*

.git
.gitignore
packages/**/.gitignore

dockerfile*
docker-compose*
.dockerignore*

packages/**/dockerfile*
packages/**/docker-compose*
packages/**/.dockerignore*

wallaby.js

