@import "../ui/scss/normalize.scss";
@import "../ui/scss/main.scss";

.ui-truncate.MuiTypography-root {
  @include ui-truncate();
}

.MuiTypography-root {
  font-family: "Inter", sans-serif;
  height: fit-content;

  @include cubic-transition;

  &.MuiTypography-h1 {
    font-size: 38px;
    font-weight: 700;
    color: $gray-900;
  }

  &.MuiTypography-h2 {
    font-size: 32px;
    font-weight: 700;
    color: $gray-900;
  }

  &.MuiTypography-h3 {
    font-size: 24px;
    font-weight: 700;
    color: $gray-900;
  }

  &.MuiTypography-h4 {
    font-size: 18px;
    font-weight: 700;
    color: $gray-900;
  }

  &.MuiTypography-h5 {
    font-size: 16px;
    font-weight: 700;
    color: $gray-900;
  }

  &.MuiTypography-h6 {
    font-size: 14px;
    font-weight: 700;
    color: $gray-900;
  }

  &.MuiTypography-body1 {
    font-size: 14px;
    font-weight: 500;
    color: $gray-900;
  }

  &.MuiTypography-body2 {
    font-size: 16px;
    font-weight: 500;
    color: $gray-900;
  }

  &.MuiTypography-button {
    font-size: 14px;
    font-weight: 500;
    text-transform: none;
  }

  &.MuiTypography-subtitle1 {
    font-size: 13px;
    font-weight: 400;
    color: $gray-400;
  }

  &.MuiTypography-subtitle2 {
    font-size: 13px;
    font-weight: 400;
    color: gray-900;
  }
}

.MuiButtonBase-root.MuiButton-root {
  @include cubic-transition;

  @include ui-box-shadow-none;

  &:hover {
    @include ui-box-shadow-none;
  }

  &:active {
    @include ui-box-shadow-none;
  }
}

.MuiButtonGroup-root {
  @include ui-box-shadow-none;
}

.MuiGrid-grid-xs-12 {
  width: 100%;
}

.MuiToggleButton-root {
  @include ui-py-2;
  @include ui-px-4;

  @include ui-w-full;

  @include ui-border-color($gray-100);

  & > .MuiTypography-button:not(&.Mui-selected > .MuiTypography-button) {
    @include ui-font-color($gray-900);
  }

  &.Mui-selected {
    @include ui-border-color($transparent);
  }
}

.MuiDrawer-paper {
  @include ui-box-shadow-none;
  @include ui-bg-color($transparent);
}

.MuiInputLabel-root {
  @include ui-font-color($gray-400);
}

.MuiInputBase-root {
  @include ui-font-color($gray-900);
}

.MuiOutlinedInput-root {
  &:hover:not(.Mui-focused):not(.Mui-disabled):not(.Mui-error) {
    .MuiOutlinedInput-notchedOutline {
      @include ui-border-color($gray-400);
    }
  }

  &:disabled {
    .MuiOutlinedInput-notchedOutline {
      @include ui-border-color($gray-100);
    }
  }

  &.Mui-disabled {
    .MuiOutlinedInput-notchedOutline {
      @include ui-border-color($gray-100);
    }
  }

  & .MuiInputAdornment-root > .MuiTypography-root {
    @include ui-font(1rem, 500, $gray-400);
  }
}

.MuiOutlinedInput-notchedOutline {
  @include ui-border-color($gray-100);
}

.MuiMenuItem-root {
  @include ui-w-full;
}

.MuiTextField-root {
  min-width: 96px;
}

.MuiPaper-root {
  @include ui-box-shadow-light;
  @include ui-border(1px, solid, $border-color);
  @include ui-rounded-1;
}

@media screen and (max-width: $breakpoint-sm) {
  .MuiTypography-h1 {
    font-size: 28px;
  }

  .MuiTypography-h2 {
    font-size: 24px;
  }

  .MuiTypography-h3 {
    font-size: 20px;
  }

  .MuiTypography-h4 {
    font-size: 18px;
  }

  .MuiTypography-h5 {
    font-size: 14px;
  }

  .MuiTypography-h6 {
    font-size: 12px;
  }

  .MuiTypography-body1 {
    font-size: 12px;
  }

  .MuiTypography-body2 {
    font-size: 14px;
  }

  .MuiTypography-button {
    font-size: 13px;
  }

  .MuiTypography-subtitle1 {
    font-size: 12px;
  }
}

.MuiTableCell-root {
  @include ui-border-color($border-color);
}

.MuiGrid-root:last-child {
  padding-bottom: 0 !important;
}
