.shopping-cart-drawer {
  @include ui-pos-rel;
  @include ui-w(420px);
  @include ui-h-full;
  @include ui-flex-fixed;
  @include ui-py-12;
  @include ui-px-9;
  @include ui-gap(1rem);
  @include ui-bg-color($white);

  &__header {
    @include ui-flex-fixed;
  }

  &__footer {
    @include ui-flex-fixed;
  }

  &__product-list {
    @include ui-h-full;
    @include ui-overflow-y-auto;
    @include ui-gap(1rem);
  }

  &__final-price {
    @include ui-font-color($orange-400);
  }

  &__back-btn {
    &--bottom {
      transform: rotate(90deg);
    }
  }

  &--bottom {
    @include ui-w-full;
    @include ui-h(calc(100vh * 4 / 5));

    border-top-left-radius: 24px;
    border-top-right-radius: 24px;
  }

  &--empty {
    .shopping-cart-drawer__product-list {
      @include ui-flex-center;
    }

    .shopping-cart-drawer__header {
      flex-direction: row-reverse;
    }
  }
}
