.article {
  @include ui-pos-rel;
  @include ui-py-8;

  &--collapsed {
    @include ui-w-full;
    @include ui-h(100px);
    @include ui-overflow-hidden;
  }

  &__curtain {
    @include ui-pos-abs;

    background: linear-gradient(180deg, transparent, $white);
    z-index: 1;

    @include ui-w-full;
    @include ui-h-full;
  }

  &__btn {
    @include ui-w(fit-content);
    @include ui-p-0;
    @include ui-my-8;
  }

  &__text {
    @include ui-w-full;
    @include ui-h-full;

    white-space: pre-line;
  }
}
