.main-layout {
  @include ui-w-full;

  position: relative;

  background-color: #f0f0f0;

  &__container {
    @include ui-w-full;

    background-color: $white;

    border-bottom: 1px solid #f0f0f0;
  }

  &__app-bar {
    position: sticky;
    top: 0;
    left: 0;
    z-index: 30;
  }
}
