@mixin ui-flex {
  display: flex;
}

@mixin ui-flex-center {
  justify-content: center;
  align-items: center;
}

@mixin ui-flex-initial {
  flex: 0 1 auto;
}

@mixin ui-flex-1 {
  flex: 1 1 0%;
}

@mixin ui-flex-auto {
  flex: 1 1 auto;
}

@mixin ui-flex-none {
  flex: none;
}

@mixin ui-flex-wrap {
  flex-wrap: wrap;
}

@mixin ui-flex-wrap-reverse {
  flex-wrap: wrap-reverse;
}

@mixin ui-flex-nowrap {
  flex-wrap: nowrap;
}

@mixin ui-flex-row {
  flex-direction: row;
}

@mixin ui-flex-row-reverse {
  flex-direction: row-reverse;
}

@mixin ui-flex-col {
  flex-direction: column;
}

@mixin ui-flex-col-reverse {
  flex-direction: column-reverse;
}

@mixin ui-flex-grow {
  flex-grow: 1;
}

@mixin ui-flex-grow-0 {
  flex-grow: 0;
}

@mixin ui-flex-shrink-0 {
  flex-shrink: 0;
}

@mixin ui-flex-grow-1 {
  flex-grow: 1;
}

@mixin ui-flex-shrink-1 {
  flex-shrink: 1;
}

@mixin ui-flex-fixed {
  @include ui-flex-grow-0;
  @include ui-flex-shrink-0;
}

@mixin ui-ai-center {
  align-items: center;
}

@mixin ui-ai-start {
  align-items: flex-start;
}

@mixin ui-ai-end {
  align-items: flex-end;
}

@mixin ui-jc-center {
  justify-content: center;
}

@mixin ui-jc-btw {
  justify-content: space-between;
}

@mixin ui-jc-start {
  justify-content: flex-start;
}

@mixin ui-jc-end {
  justify-content: flex-end;
}
