@import "scale.scss";

@mixin ui-m($rem: 0) {
  margin: $rem;
}

@mixin -ui-m($rem: 0) {
  margin: -$rem;
}

@mixin ui-mx($rem: 0) {
  margin-left: $rem;
  margin-right: $rem;
}

@mixin -ui-mx($rem: 0) {
  margin-left: -$rem;
  margin-right: -$rem;
}

@mixin ui-my($rem: 0) {
  margin-top: $rem;
  margin-bottom: $rem;
}

@mixin -ui-my($rem: 0) {
  margin-top: -$rem;
  margin-bottom: -$rem;
}

@mixin ui-mt($rem: 0) {
  margin-top: $rem;
}

@mixin -ui-mt($rem: 0) {
  margin-top: -$rem;
}

@mixin ui-mb($rem: 0) {
  margin-bottom: $rem;
}

@mixin -ui-mb($rem: 0) {
  margin-bottom: -$rem;
}

@mixin ui-ml($rem: 0) {
  margin-left: $rem;
}

@mixin -ui-ml($rem: 0) {
  margin-left: -$rem;
}

@mixin ui-mr($rem: 0) {
  margin-right: $rem;
}

@mixin -ui-mr($rem: 0) {
  margin-right: -$rem;
}

/// MARGIN POS

@mixin ui-m-auto {
  @include ui-m(auto);
}

@mixin ui-m-0 {
  @include ui-m($spacing-scale-0);
}

@mixin ui-m-1 {
  @include ui-m($spacing-scale-1);
}

@mixin ui-m-2 {
  @include ui-m($spacing-scale-2);
}

@mixin ui-m-3 {
  @include ui-m($spacing-scale-3);
}

@mixin ui-m-4 {
  @include ui-m($spacing-scale-4);
}

@mixin ui-m-5 {
  @include ui-m($spacing-scale-5);
}

@mixin ui-m-6 {
  @include ui-m($spacing-scale-6);
}

@mixin ui-m-7 {
  @include ui-m($spacing-scale-7);
}

@mixin ui-m-8 {
  @include ui-m($spacing-scale-8);
}

@mixin ui-m-9 {
  @include ui-m($spacing-scale-9);
}

@mixin ui-m-10 {
  @include ui-m($spacing-scale-10);
}

@mixin ui-m-11 {
  @include ui-m($spacing-scale-11);
}

@mixin ui-m-12 {
  @include ui-m($spacing-scale-12);
}

@mixin ui-m-13 {
  @include ui-m($spacing-scale-13);
}

@mixin ui-m-14 {
  @include ui-m($spacing-scale-14);
}

@mixin ui-m-15 {
  @include ui-m($spacing-scale-15);
}

@mixin ui-m-16 {
  @include ui-m($spacing-scale-16);
}

@mixin ui-m-17 {
  @include ui-m($spacing-scale-17);
}

@mixin ui-m-18 {
  @include ui-m($spacing-scale-18);
}

/// MARGIN NEG

@mixin -ui-m-1 {
  @include -ui-m($spacing-scale-1);
}

@mixin -ui-m-2 {
  @include -ui-m($spacing-scale-2);
}

@mixin -ui-m-3 {
  @include -ui-m($spacing-scale-3);
}

@mixin -ui-m-4 {
  @include -ui-m($spacing-scale-4);
}

@mixin -ui-m-5 {
  @include -ui-m($spacing-scale-5);
}

@mixin -ui-m-6 {
  @include -ui-m($spacing-scale-6);
}

@mixin -ui-m-7 {
  @include -ui-m($spacing-scale-7);
}

@mixin -ui-m-8 {
  @include -ui-m($spacing-scale-8);
}

@mixin -ui-m-9 {
  @include -ui-m($spacing-scale-9);
}

@mixin -ui-m-10 {
  @include -ui-m($spacing-scale-10);
}

@mixin -ui-m-11 {
  @include -ui-m($spacing-scale-11);
}

@mixin -ui-m-12 {
  @include -ui-m($spacing-scale-12);
}

@mixin -ui-m-13 {
  @include -ui-m($spacing-scale-13);
}

@mixin -ui-m-14 {
  @include -ui-m($spacing-scale-14);
}

@mixin -ui-m-15 {
  @include -ui-m($spacing-scale-15);
}

@mixin -ui-m-16 {
  @include -ui-m($spacing-scale-16);
}

@mixin -ui-m-17 {
  @include -ui-m($spacing-scale-17);
}

@mixin -ui-m-18 {
  @include -ui-m($spacing-scale-18);
}

/// MARGIN POS X

@mixin ui-mx-auto {
  @include ui-mx(auto);
}

@mixin ui-mx-0 {
  @include ui-mx($spacing-scale-0);
}

@mixin ui-mx-1 {
  @include ui-mx($spacing-scale-1);
}

@mixin ui-mx-2 {
  @include ui-mx($spacing-scale-2);
}

@mixin ui-mx-3 {
  @include ui-mx($spacing-scale-3);
}

@mixin ui-mx-4 {
  @include ui-mx($spacing-scale-4);
}

@mixin ui-mx-5 {
  @include ui-mx($spacing-scale-5);
}

@mixin ui-mx-6 {
  @include ui-mx($spacing-scale-6);
}

@mixin ui-mx-7 {
  @include ui-mx($spacing-scale-7);
}

@mixin ui-mx-8 {
  @include ui-mx($spacing-scale-8);
}

@mixin ui-mx-9 {
  @include ui-mx($spacing-scale-9);
}

@mixin ui-mx-10 {
  @include ui-mx($spacing-scale-10);
}

@mixin ui-mx-11 {
  @include ui-mx($spacing-scale-11);
}

@mixin ui-mx-12 {
  @include ui-mx($spacing-scale-12);
}

@mixin ui-mx-13 {
  @include ui-mx($spacing-scale-13);
}

@mixin ui-mx-14 {
  @include ui-mx($spacing-scale-14);
}

@mixin ui-mx-15 {
  @include ui-mx($spacing-scale-15);
}

@mixin ui-mx-16 {
  @include ui-mx($spacing-scale-16);
}

@mixin ui-mx-17 {
  @include ui-mx($spacing-scale-17);
}

@mixin ui-mx-18 {
  @include ui-mx($spacing-scale-18);
}

/// MARGIN NEG X

@mixin -ui-mx-1 {
  @include -ui-mx($spacing-scale-1);
}

@mixin -ui-mx-2 {
  @include -ui-mx($spacing-scale-2);
}

@mixin -ui-mx-3 {
  @include -ui-mx($spacing-scale-3);
}

@mixin -ui-mx-4 {
  @include -ui-mx($spacing-scale-4);
}

@mixin -ui-mx-5 {
  @include -ui-mx($spacing-scale-5);
}

@mixin -ui-mx-6 {
  @include -ui-mx($spacing-scale-6);
}

@mixin -ui-mx-7 {
  @include -ui-mx($spacing-scale-7);
}

@mixin -ui-mx-8 {
  @include -ui-mx($spacing-scale-8);
}

@mixin -ui-mx-9 {
  @include -ui-mx($spacing-scale-9);
}

@mixin -ui-mx-10 {
  @include -ui-mx($spacing-scale-10);
}

@mixin -ui-mx-11 {
  @include -ui-mx($spacing-scale-11);
}

@mixin -ui-mx-12 {
  @include -ui-mx($spacing-scale-12);
}

@mixin -ui-mx-13 {
  @include -ui-mx($spacing-scale-13);
}

@mixin -ui-mx-14 {
  @include -ui-mx($spacing-scale-14);
}

@mixin -ui-mx-15 {
  @include -ui-mx($spacing-scale-15);
}

@mixin -ui-mx-16 {
  @include -ui-mx($spacing-scale-16);
}

@mixin -ui-mx-17 {
  @include -ui-mx($spacing-scale-17);
}

@mixin -ui-mx-18 {
  @include -ui-mx($spacing-scale-18);
}

/// MARGIN POS Y

@mixin ui-my-auto {
  @include ui-my(auto);
}

@mixin ui-my-0 {
  @include ui-my($spacing-scale-0);
}

@mixin ui-my-1 {
  @include ui-my($spacing-scale-1);
}

@mixin ui-my-2 {
  @include ui-my($spacing-scale-2);
}

@mixin ui-my-3 {
  @include ui-my($spacing-scale-3);
}

@mixin ui-my-4 {
  @include ui-my($spacing-scale-4);
}

@mixin ui-my-5 {
  @include ui-my($spacing-scale-5);
}

@mixin ui-my-6 {
  @include ui-my($spacing-scale-6);
}

@mixin ui-my-7 {
  @include ui-my($spacing-scale-7);
}

@mixin ui-my-8 {
  @include ui-my($spacing-scale-8);
}

@mixin ui-my-9 {
  @include ui-my($spacing-scale-9);
}

@mixin ui-my-10 {
  @include ui-my($spacing-scale-10);
}

@mixin ui-my-11 {
  @include ui-my($spacing-scale-11);
}

@mixin ui-my-12 {
  @include ui-my($spacing-scale-12);
}

@mixin ui-my-13 {
  @include ui-my($spacing-scale-13);
}

@mixin ui-my-14 {
  @include ui-my($spacing-scale-14);
}

@mixin ui-my-15 {
  @include ui-my($spacing-scale-15);
}

@mixin ui-my-16 {
  @include ui-my($spacing-scale-16);
}

@mixin ui-my-17 {
  @include ui-my($spacing-scale-17);
}

@mixin ui-my-18 {
  @include ui-my($spacing-scale-18);
}

/// MARGIN NEG Y

@mixin -ui-my-1 {
  @include -ui-my($spacing-scale-1);
}

@mixin -ui-my-2 {
  @include -ui-my($spacing-scale-2);
}

@mixin -ui-my-3 {
  @include -ui-my($spacing-scale-3);
}

@mixin -ui-my-4 {
  @include -ui-my($spacing-scale-4);
}

@mixin -ui-my-5 {
  @include -ui-my($spacing-scale-5);
}

@mixin -ui-my-6 {
  @include -ui-my($spacing-scale-6);
}

@mixin -ui-my-7 {
  @include -ui-my($spacing-scale-7);
}

@mixin -ui-my-8 {
  @include -ui-my($spacing-scale-8);
}

@mixin -ui-my-9 {
  @include -ui-my($spacing-scale-9);
}

@mixin -ui-my-10 {
  @include -ui-my($spacing-scale-10);
}

@mixin -ui-my-11 {
  @include -ui-my($spacing-scale-11);
}

@mixin -ui-my-12 {
  @include -ui-my($spacing-scale-12);
}

@mixin -ui-my-13 {
  @include -ui-my($spacing-scale-13);
}

@mixin -ui-my-14 {
  @include -ui-my($spacing-scale-14);
}

@mixin -ui-my-15 {
  @include -ui-my($spacing-scale-15);
}

@mixin -ui-my-16 {
  @include -ui-my($spacing-scale-16);
}

@mixin -ui-my-17 {
  @include -ui-my($spacing-scale-17);
}

@mixin -ui-my-18 {
  @include -ui-my($spacing-scale-18);
}

/// MARGIN POS TOP

@mixin ui-mt-auto {
  @include ui-mt(auto);
}

@mixin ui-mt-0 {
  @include ui-mt($spacing-scale-0);
}

@mixin ui-mt-1 {
  @include ui-mt($spacing-scale-1);
}

@mixin ui-mt-2 {
  @include ui-mt($spacing-scale-2);
}

@mixin ui-mt-3 {
  @include ui-mt($spacing-scale-3);
}

@mixin ui-mt-4 {
  @include ui-mt($spacing-scale-4);
}

@mixin ui-mt-5 {
  @include ui-mt($spacing-scale-5);
}

@mixin ui-mt-6 {
  @include ui-mt($spacing-scale-6);
}

@mixin ui-mt-7 {
  @include ui-mt($spacing-scale-7);
}

@mixin ui-mt-8 {
  @include ui-mt($spacing-scale-8);
}

@mixin ui-mt-9 {
  @include ui-mt($spacing-scale-9);
}

@mixin ui-mt-10 {
  @include ui-mt($spacing-scale-10);
}

@mixin ui-mt-11 {
  @include ui-mt($spacing-scale-11);
}

@mixin ui-mt-12 {
  @include ui-mt($spacing-scale-12);
}

@mixin ui-mt-13 {
  @include ui-mt($spacing-scale-13);
}

@mixin ui-mt-14 {
  @include ui-mt($spacing-scale-14);
}

@mixin ui-mt-15 {
  @include ui-mt($spacing-scale-15);
}

@mixin ui-mt-16 {
  @include ui-mt($spacing-scale-16);
}

@mixin ui-mt-17 {
  @include ui-mt($spacing-scale-17);
}

@mixin ui-mt-18 {
  @include ui-mt($spacing-scale-18);
}

/// MARGIN NEG TOP

@mixin -ui-mt-1 {
  @include -ui-mt($spacing-scale-1);
}

@mixin -ui-mt-2 {
  @include -ui-mt($spacing-scale-2);
}

@mixin -ui-mt-3 {
  @include -ui-mt($spacing-scale-3);
}

@mixin -ui-mt-4 {
  @include -ui-mt($spacing-scale-4);
}

@mixin -ui-mt-5 {
  @include -ui-mt($spacing-scale-5);
}

@mixin -ui-mt-6 {
  @include -ui-mt($spacing-scale-6);
}

@mixin -ui-mt-7 {
  @include -ui-mt($spacing-scale-7);
}

@mixin -ui-mt-8 {
  @include -ui-mt($spacing-scale-8);
}

@mixin -ui-mt-9 {
  @include -ui-mt($spacing-scale-9);
}

@mixin -ui-mt-10 {
  @include -ui-mt($spacing-scale-10);
}

@mixin -ui-mt-11 {
  @include -ui-mt($spacing-scale-11);
}

@mixin -ui-mt-12 {
  @include -ui-mt($spacing-scale-12);
}

@mixin -ui-mt-13 {
  @include -ui-mt($spacing-scale-13);
}

@mixin -ui-mt-14 {
  @include -ui-mt($spacing-scale-14);
}

@mixin -ui-mt-15 {
  @include -ui-mt($spacing-scale-15);
}

@mixin -ui-mt-16 {
  @include -ui-mt($spacing-scale-16);
}

@mixin -ui-mt-17 {
  @include -ui-mt($spacing-scale-17);
}

@mixin -ui-mt-18 {
  @include -ui-mt($spacing-scale-18);
}

/// MARGIN POS BOTTOM

@mixin ui-mb-auto {
  @include ui-mb(auto);
}

@mixin ui-mb-0 {
  @include ui-mb($spacing-scale-0);
}

@mixin ui-mb-1 {
  @include ui-mb($spacing-scale-1);
}

@mixin ui-mb-2 {
  @include ui-mb($spacing-scale-2);
}

@mixin ui-mb-3 {
  @include ui-mb($spacing-scale-3);
}

@mixin ui-mb-4 {
  @include ui-mb($spacing-scale-4);
}

@mixin ui-mb-5 {
  @include ui-mb($spacing-scale-5);
}

@mixin ui-mb-6 {
  @include ui-mb($spacing-scale-6);
}

@mixin ui-mb-7 {
  @include ui-mb($spacing-scale-7);
}

@mixin ui-mb-8 {
  @include ui-mb($spacing-scale-8);
}

@mixin ui-mb-9 {
  @include ui-mb($spacing-scale-9);
}

@mixin ui-mb-10 {
  @include ui-mb($spacing-scale-10);
}

@mixin ui-mb-11 {
  @include ui-mb($spacing-scale-11);
}

@mixin ui-mb-12 {
  @include ui-mb($spacing-scale-12);
}

@mixin ui-mb-13 {
  @include ui-mb($spacing-scale-13);
}

@mixin ui-mb-14 {
  @include ui-mb($spacing-scale-14);
}

@mixin ui-mb-15 {
  @include ui-mb($spacing-scale-15);
}

@mixin ui-mb-16 {
  @include ui-mb($spacing-scale-16);
}

@mixin ui-mb-17 {
  @include ui-mb($spacing-scale-17);
}

@mixin ui-mb-18 {
  @include ui-mb($spacing-scale-18);
}

/// MARGIN NEG BOTTOM

@mixin -ui-mb-1 {
  @include -ui-mb($spacing-scale-1);
}

@mixin -ui-mb-2 {
  @include -ui-mb($spacing-scale-2);
}

@mixin -ui-mb-3 {
  @include -ui-mb($spacing-scale-3);
}

@mixin -ui-mb-4 {
  @include -ui-mb($spacing-scale-4);
}

@mixin -ui-mb-5 {
  @include -ui-mb($spacing-scale-5);
}

@mixin -ui-mb-6 {
  @include -ui-mb($spacing-scale-6);
}

@mixin -ui-mb-7 {
  @include -ui-mb($spacing-scale-7);
}

@mixin -ui-mb-8 {
  @include -ui-mb($spacing-scale-8);
}

@mixin -ui-mb-9 {
  @include -ui-mb($spacing-scale-9);
}

@mixin -ui-mb-10 {
  @include -ui-mb($spacing-scale-10);
}

@mixin -ui-mb-11 {
  @include -ui-mb($spacing-scale-11);
}

@mixin -ui-mb-12 {
  @include -ui-mb($spacing-scale-12);
}

@mixin -ui-mb-13 {
  @include -ui-mb($spacing-scale-13);
}

@mixin -ui-mb-14 {
  @include -ui-mb($spacing-scale-14);
}

@mixin -ui-mb-15 {
  @include -ui-mb($spacing-scale-15);
}

@mixin -ui-mb-16 {
  @include -ui-mb($spacing-scale-16);
}

@mixin -ui-mb-17 {
  @include -ui-mb($spacing-scale-17);
}

@mixin -ui-mb-18 {
  @include -ui-mb($spacing-scale-18);
}

/// MARGIN POS LEFT

@mixin ui-ml-auto {
  @include ui-ml(auto);
}

@mixin ui-ml-0 {
  @include ui-ml($spacing-scale-0);
}

@mixin ui-ml-1 {
  @include ui-ml($spacing-scale-1);
}

@mixin ui-ml-2 {
  @include ui-ml($spacing-scale-2);
}

@mixin ui-ml-3 {
  @include ui-ml($spacing-scale-3);
}

@mixin ui-ml-4 {
  @include ui-ml($spacing-scale-4);
}

@mixin ui-ml-5 {
  @include ui-ml($spacing-scale-5);
}

@mixin ui-ml-6 {
  @include ui-ml($spacing-scale-6);
}

@mixin ui-ml-7 {
  @include ui-ml($spacing-scale-7);
}

@mixin ui-ml-8 {
  @include ui-ml($spacing-scale-8);
}

@mixin ui-ml-9 {
  @include ui-ml($spacing-scale-9);
}

@mixin ui-ml-10 {
  @include ui-ml($spacing-scale-10);
}

@mixin ui-ml-11 {
  @include ui-ml($spacing-scale-11);
}

@mixin ui-ml-12 {
  @include ui-ml($spacing-scale-12);
}

@mixin ui-ml-13 {
  @include ui-ml($spacing-scale-13);
}

@mixin ui-ml-14 {
  @include ui-ml($spacing-scale-14);
}

@mixin ui-ml-15 {
  @include ui-ml($spacing-scale-15);
}

@mixin ui-ml-16 {
  @include ui-ml($spacing-scale-16);
}

@mixin ui-ml-17 {
  @include ui-ml($spacing-scale-17);
}

@mixin ui-ml-18 {
  @include ui-ml($spacing-scale-18);
}

/// MARGIN NEG LEFT

@mixin -ui-ml-1 {
  @include -ui-ml($spacing-scale-1);
}

@mixin -ui-ml-2 {
  @include -ui-ml($spacing-scale-2);
}

@mixin -ui-ml-3 {
  @include -ui-ml($spacing-scale-3);
}

@mixin -ui-ml-4 {
  @include -ui-ml($spacing-scale-4);
}

@mixin -ui-ml-5 {
  @include -ui-ml($spacing-scale-5);
}

@mixin -ui-ml-6 {
  @include -ui-ml($spacing-scale-6);
}

@mixin -ui-ml-7 {
  @include -ui-ml($spacing-scale-7);
}

@mixin -ui-ml-8 {
  @include -ui-ml($spacing-scale-8);
}

@mixin -ui-ml-9 {
  @include -ui-ml($spacing-scale-9);
}

@mixin -ui-ml-10 {
  @include -ui-ml($spacing-scale-10);
}

@mixin -ui-ml-11 {
  @include -ui-ml($spacing-scale-11);
}

@mixin -ui-ml-12 {
  @include -ui-ml($spacing-scale-12);
}

@mixin -ui-ml-13 {
  @include -ui-ml($spacing-scale-13);
}

@mixin -ui-ml-14 {
  @include -ui-ml($spacing-scale-14);
}

@mixin -ui-ml-15 {
  @include -ui-ml($spacing-scale-15);
}

@mixin -ui-ml-16 {
  @include -ui-ml($spacing-scale-16);
}

@mixin -ui-ml-17 {
  @include -ui-ml($spacing-scale-17);
}

@mixin -ui-ml-18 {
  @include -ui-ml($spacing-scale-18);
}

/// MARGIN POS RIGHT

@mixin ui-mr-auto {
  @include ui-mr(auto);
}

@mixin ui-mr-0 {
  @include ui-mr($spacing-scale-0);
}

@mixin ui-mr-1 {
  @include ui-mr($spacing-scale-1);
}

@mixin ui-mr-2 {
  @include ui-mr($spacing-scale-2);
}

@mixin ui-mr-3 {
  @include ui-mr($spacing-scale-3);
}

@mixin ui-mr-4 {
  @include ui-mr($spacing-scale-4);
}

@mixin ui-mr-5 {
  @include ui-mr($spacing-scale-5);
}

@mixin ui-mr-6 {
  @include ui-mr($spacing-scale-6);
}

@mixin ui-mr-7 {
  @include ui-mr($spacing-scale-7);
}

@mixin ui-mr-8 {
  @include ui-mr($spacing-scale-8);
}

@mixin ui-mr-9 {
  @include ui-mr($spacing-scale-9);
}

@mixin ui-mr-10 {
  @include ui-mr($spacing-scale-10);
}

@mixin ui-mr-11 {
  @include ui-mr($spacing-scale-11);
}

@mixin ui-mr-12 {
  @include ui-mr($spacing-scale-12);
}

@mixin ui-mr-13 {
  @include ui-mr($spacing-scale-13);
}

@mixin ui-mr-14 {
  @include ui-mr($spacing-scale-14);
}

@mixin ui-mr-15 {
  @include ui-mr($spacing-scale-15);
}

@mixin ui-mr-16 {
  @include ui-mr($spacing-scale-16);
}

@mixin ui-mr-17 {
  @include ui-mr($spacing-scale-17);
}

@mixin ui-mr-18 {
  @include ui-mr($spacing-scale-18);
}

/// MARGIN NEG RIGHT

@mixin -ui-mr-1 {
  @include -ui-mr($spacing-scale-1);
}

@mixin -ui-mr-2 {
  @include -ui-mr($spacing-scale-2);
}

@mixin -ui-mr-3 {
  @include -ui-mr($spacing-scale-3);
}

@mixin -ui-mr-4 {
  @include -ui-mr($spacing-scale-4);
}

@mixin -ui-mr-5 {
  @include -ui-mr($spacing-scale-5);
}

@mixin -ui-mr-6 {
  @include -ui-mr($spacing-scale-6);
}

@mixin -ui-mr-7 {
  @include -ui-mr($spacing-scale-7);
}

@mixin -ui-mr-8 {
  @include -ui-mr($spacing-scale-8);
}

@mixin -ui-mr-9 {
  @include -ui-mr($spacing-scale-9);
}

@mixin -ui-mr-10 {
  @include -ui-mr($spacing-scale-10);
}

@mixin -ui-mr-11 {
  @include -ui-mr($spacing-scale-11);
}

@mixin -ui-mr-12 {
  @include -ui-mr($spacing-scale-12);
}

@mixin -ui-mr-13 {
  @include -ui-mr($spacing-scale-13);
}

@mixin -ui-mr-14 {
  @include -ui-mr($spacing-scale-14);
}

@mixin -ui-mr-15 {
  @include -ui-mr($spacing-scale-15);
}

@mixin -ui-mr-16 {
  @include -ui-mr($spacing-scale-16);
}

@mixin -ui-mr-17 {
  @include -ui-mr($spacing-scale-17);
}

@mixin -ui-mr-18 {
  @include -ui-mr($spacing-scale-18);
}
