$spacing-scale-0: 0;
$spacing-scale-1: 0.125rem;
$spacing-scale-2: 0.25rem;
$spacing-scale-3: 0.375rem;
$spacing-scale-4: 0.5rem;
$spacing-scale-5: 0.625rem;
$spacing-scale-6: 0.75rem;
$spacing-scale-7: 0.875rem;
$spacing-scale-8: 1rem;
$spacing-scale-9: 1.25rem;
$spacing-scale-10: 1.5rem;
$spacing-scale-11: 1.75rem;
$spacing-scale-12: 2rem;
$spacing-scale-13: 2.25rem;
$spacing-scale-14: 2.5rem;
$spacing-scale-15: 2.75rem;
$spacing-scale-16: 3rem;
$spacing-scale-17: 3.5rem;
$spacing-scale-18: 4rem;
$spacing-scale-19: 5rem;
$spacing-scale-20: 6rem;
$spacing-scale-21: 7rem;
$spacing-scale-22: 8rem;
$spacing-scale-23: 9rem;
$spacing-scale-24: 10rem;
$spacing-scale-half: 50%;
$spacing-scale-full: 100%;
$spacing-scale-auto: auto;
$spacing-scale-w-screen: 100vw;
$spacing-scale-h-screen: 100vh;
$spacing-scale-min: min-content;
$spacing-scale-max: max-content;

$spacing: (
  "0": $spacing-scale-0,
  "1": $spacing-scale-1,
  "2": $spacing-scale-2,
  "3": $spacing-scale-3,
  "4": $spacing-scale-4,
  "5": $spacing-scale-5,
  "6": $spacing-scale-6,
  "7": $spacing-scale-7,
  "8": $spacing-scale-8,
  "9": $spacing-scale-9,
  "10": $spacing-scale-10,
  "11": $spacing-scale-11,
  "12": $spacing-scale-12,
  "13": $spacing-scale-13,
  "14": $spacing-scale-14,
  "15": $spacing-scale-15,
  "16": $spacing-scale-16,
  "17": $spacing-scale-17,
  "18": $spacing-scale-18,
  "19": $spacing-scale-19,
  "20": $spacing-scale-20,
  "21": $spacing-scale-21,
  "22": $spacing-scale-22,
  "23": $spacing-scale-23,
  "24": $spacing-scale-24,
  "half": $spacing-scale-half,
  "full": $spacing-scale-full,
  "auto": $spacing-scale-auto,
  "min": $spacing-scale-min,
  "max": $spacing-scale-max,
);
