.app-bar {
  @include ui-pos-sticky;
  @include ui-flex-fixed;
  @include ui-w-full;
  @include ui-py-6;
  @include ui-gap(20px);
  @include ui-bg-color($white);
  @include ui-border-bottom(1px, solid, $border-color);

  /* @include ui-bg-color(rgba(255, 255, 255, 0.7));
  @include ui-blur; */

  top: 0;
  left: 0;
  z-index: 30;
}
