.categories {
  @include ui-w-full;

  gap: 12px;

  overflow-x: scroll;

  &::-webkit-scrollbar {
    display: none;
  }
}

@media screen and (max-width: 800px) {
  .categories {
    justify-content: flex-start;
  }
}
