@mixin ui-truncate($max-width: 100%) {
  display: inline-flex;
  overflow: hidden;
  text-overflow: ellipsis;
  vertical-align: middle;
  text-align: center;
  white-space: nowrap;
  max-width: $max-width;
}

@mixin ui-size($size: 16px) {
  width: $size;
  height: $size;
}

@mixin ui-box-shadow($color: $green-100) {
  transition: box-shadow 0.3s;

  box-shadow: 0 0 0 0.25rem $color;
  z-index: 30;
}

@mixin ui-box-shadow-none() {
  box-shadow: none;
}

@mixin ui-select-none {
  user-select: none;
}

@mixin ui-text-transform-none {
  text-transform: none;
}

@mixin ui-fill($color) {
  fill: $color;
}
