@import "utilities/background/background.classes";
@import "utilities/border/border.classes";
@import "utilities/flex/flex.classes";
@import "utilities/overflow/overflow.classes";
@import "utilities/sizing/sizing.classes";
@import "utilities/spacing/spacing.classes";
@import "utilities/cursor/cursor.classes";

.ui-ai-center {
  align-items: center;
}

.ui-jc-center {
  justify-content: center;
}

.ui-w-inherit {
  width: inherit;
}

.ui-h-inherit {
  height: inherit;
}
