.article {
  position: relative;
  @include ui-py-8;

  &--collapsed {
    @include ui-w-full;
    @include ui-h(100px);

    overflow: hidden;
  }

  &__curtain {
    position: absolute;

    background: linear-gradient(180deg, transparent, $gray-50);
    z-index: 1;

    @include ui-w-full;
    @include ui-h-full;
  }

  &__text {
    @include ui-w-full;
    @include ui-h-full;

    white-space: pre-line;
  }
}
