@mixin ui-font(
  $size: 1rem,
  $weight: 400,
  $color: inherit,
  $line-height: normal
) {
  font-size: $size;
  font-weight: $weight;
  line-height: $line-height;
  color: $color;
}

@mixin ui-font-color($color) {
  color: $color;
}

@mixin ui-font-size($size: 1rem) {
  font-size: $size;
}
