@mixin ui-border($size, $type, $color) {
  border: $size $type $color;
}

@mixin ui-border-left($size, $type, $color) {
  border-left: $size $type $color;
}

@mixin ui-border-right($size, $type, $color) {
  border-right: $size $type $color;
}

@mixin ui-border-top($size, $type, $color) {
  border-top: $size $type $color;
}

@mixin ui-border-bottom($size, $type, $color) {
  border-bottom: $size $type $color;
}

@mixin ui-border-color($color) {
  border-color: $color;
}

@mixin ui-border-none {
  border: none;
}

@mixin ui-rounded-left($radius) {
  border-top-left-radius: $radius;
  border-bottom-left-radius: $radius;
}

@mixin ui-rounded-right($radius) {
  border-top-right-radius: $radius;
  border-bottom-right-radius: $radius;
}

@mixin ui-rounded-top($radius) {
  border-top-right-radius: $radius;
  border-top-left-radius: $radius;
}

@mixin ui-rounded-bottom($radius) {
  border-bottom-right-radius: $radius;
  border-bottom-left-radius: $radius;
}

@mixin ui-rounded-none {
  border-radius: none;
}

@mixin ui-rounded-1 {
  border-radius: 0.25rem;
}

@mixin ui-rounded-2 {
  border-radius: 0.375rem;
}

@mixin ui-rounded-3 {
  border-radius: 0.5rem;
}

@mixin ui-rounded-4 {
  border-radius: 1rem;
}

@mixin ui-rounded-5 {
  border-radius: 1.5rem;
}

@mixin ui-rounded {
  border-radius: 50%;
}
