@mixin ui-bg-transparent() {
  background-color: transparent;
}

@mixin ui-bg-inherit {
  background-color: inherit;
}

@mixin ui-bg-white {
  background-color: $white;
}

@mixin ui-bg-black {
  background-color: $black;
}

@mixin ui-bg-color($color) {
  background-color: $color;
}
