* {
  @include ui-m-0;
  @include ui-p-0;

  box-sizing: border-box;

  font-family: "Inter", sans-serif;

  &:focus {
    outline-style: none;
  }

  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms,
    border-color 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms,
    fill 100ms cubic-bezier(0.4, 0, 0.2, 1) 0ms,
    color 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms,
    box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
}

html {
  @include ui-select-none;

  min-width: 320px;
}

body {
  @include ui-overflow-x-auto;
}

a {
  text-decoration: none;
}

table {
  border-collapse: collapse;
}

button {
  &:focus {
    outline-style: none;
  }
}
