@import "utilities/background/background.classes";
@import "utilities/border/border.classes";
@import "utilities/flex/flex.classes";
@import "utilities/overflow/overflow.classes";
@import "utilities/sizing/sizing.classes";
@import "utilities/spacing/spacing.classes";
@import "utilities/cursor/cursor.classes";

.ui-space-x-between {
  justify-content: space-between;
}

.ui-space-y-between {
  align-content: space-between;
}
