@import "functions";
@import "variables";

@import "utilities";
@import "utilities.classes";

@import "mixins";

.ui-space-x-between {
  justify-content: space-between;
}

.ui-space-y-between {
  align-content: space-between;
}

@mixin ui-display-none {
  display: none;
}

.ui-display-none {
  @include ui-display-none;
}

@mixin ui-pos-rel {
  position: relative;
}

.ui-pos-rel {
  @include ui-pos-rel;
}

@mixin ui-pos-abs {
  position: absolute;
}

.ui-pos-abs {
  @include ui-pos-abs;
}

@mixin ui-pos-fixed {
  position: fixed;
}

.ui-pos-fixed {
  @include ui-pos-fixed;
}

@mixin ui-pos-sticky {
  position: sticky;
  top: 0;
  left: 0;
  z-index: 1;
}

.ui-pos-sticky {
  @include ui-pos-sticky;
}

@mixin ui-opacity($v) {
  opacity: $v;
}

@mixin cubic-transition {
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms,
    border-color 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms,
    fill 100ms cubic-bezier(0.4, 0, 0.2, 1) 0ms,
    color 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms,
    box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
}

.ui-truncate {
  @include ui-truncate();
}

@mixin ui-blur {
  backdrop-filter: blur(20px);
}

.ui-blur {
  @include ui-blur();
}

@mixin ui-gap($v) {
  gap: $v;
}

@mixin ui-gap-1 {
  @include ui-gap(0.5rem);
}

@mixin ui-gap-2 {
  @include ui-gap(1rem);
}

@mixin ui-gap-3 {
  @include ui-gap(1.5rem);
}

@mixin ui-gap-4 {
  @include ui-gap(2rem);
}

.ui-gap-1 {
  @include ui-gap-1;
}

.ui-gap-2 {
  @include ui-gap-2;
}

.ui-gap-3 {
  @include ui-gap-3;
}

.ui-gap-4 {
  @include ui-gap-4;
}

@mixin ui-ws-nowrap {
  white-space: nowrap;
}

.ui-ws-nowrap {
  @include ui-ws-nowrap;
}

.ui-w-fit-content {
  width: fit-content;
}

$breakpoint-xxs: 390px;
$breakpoint-xs: 450px;
$breakpoint-sm: 599px;
$breakpoint-md: 900px;
$breakpoint-lg: 1280px;
$breakpoint-xl: 1536px;

$gray-50: #f9f9f9;
$gray-100: #f0f0f0;
$gray-400: #a5a5a5;
$gray-900: #191919;

$orange-100: #ffeee2;
$orange-400: #ff7010;

$red-400: #e23535;

$blue-50: rgba(7, 59, 76, 0.08);
$blue-400: #264653;

$border-color: #e7ebf0;
