* {
  @include ui-m-0;
  @include ui-p-0;

  box-sizing: border-box;

  font-family: "Inter", sans-serif;

  &:focus {
    outline-style: none;
  }
}

html {
  @include ui-select-none;

  scroll-behavior: smooth;

  min-width: 360px;
}

body {
  @include ui-overflow-x-auto;
}

a {
  text-decoration: none;
}

table {
  border-collapse: collapse;
}

button {
  &:focus {
    outline-style: none;
  }
}
