@import "utilities/background/background.classes";
@import "utilities/border/border.classes";
@import "utilities/flex/flex.classes";
@import "utilities/overflow/overflow.classes";
@import "utilities/sizing/sizing.classes";
@import "utilities/spacing/spacing.classes";
@import "utilities/cursor/cursor.classes";
@import "utilities/display/display.classes";
@import "utilities/position/position.classes";
@import "utilities/gap/gap.classes";

.ui-ws-nowrap {
  @include ui-ws-nowrap;
}

.ui-blur {
  @include ui-blur();
}

.ui-truncate {
  @include ui-truncate();
}

.ui-space-x-between {
  justify-content: space-between;
}

.ui-space-y-between {
  align-content: space-between;
}

.ui-bg-1 {
  @include ui-bg-color($white);
}

.ui-bg-2 {
  @include ui-bg-color($orange-100);
}

.ui-color-1 {
  @include ui-font-color($orange-400);
}

.ui-color-1\! {
  color: $orange-400 !important;
}
