$white: #fff;
$black: #000;

$transparent: transparent;

$breakpoint-xxs: 390px;
$breakpoint-xs: 450px;
$breakpoint-sm: 599px;
$breakpoint-md: 900px;
$breakpoint-lg: 1280px;
$breakpoint-xl: 1536px;

$gray-50: #f9f9f9;
$gray-100: #f0f0f0;
$gray-400: #a5a5a5;
$gray-900: #191919;

$orange-100: #ffeee2;
$orange-400: #ff7010;

$red-400: #e23535;

$blue-50: #073b4c14;
$blue-400: #264653;

$border-color: #e7ebf0;
